<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Ing. Jiří Kubíček - Strana svobodných občanů</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/text.css" />
  <link rel="stylesheet" href="/stylesheets/960.css" />
  <link rel="stylesheet" href="/stylesheets/master.css" />
</head>

<body id="kubicek" onload="">

<div class="container_12" id="header">
	<div class="grid_4">&nbsp;</div>
  <div class="grid_4"><a href="http://www.svobodni.cz"><img src="/images/Full_Banner.png" alt="Strana svobodných občanů - svoboda, odpovědnost, spravedlnost" /></a></div>
  <div class="clear"></div>
  <div class="grid_2">&nbsp;</div>
  <div class="grid_10"><h1><a href="/">Ing. Jiří <span id="last_name">Kubíček</span></a></h1></div>
	<div class="clear"></div>
</div>

<div class="container_12" id="navbar">
  <div id="top">&nbsp;</div>
	<div class="grid_2">&nbsp;</div>
  <ul>
    <li class="grid_2">
      <a href="/" class="<%=request.path_info.match(/^\/$/) ? "active" : "normal"%>">Úvod</a>
    </li>
    <li class="grid_2">
      <a href="/kdo-jsem" class="<%=request.path_info.match(/^\/kdo-jsem/) ? "active" : "normal"%>">Kdo jsem</a>
    </li>
    <li class="grid_2">
      <a href="/temata" class="<%=request.path_info.match(/^\/temata$/) ? "active" : "normal"%>">Témata</a>
    </li>
    <li class="grid_2">
      <a href="http://www.svobodni.cz/media/fotogalerie/49-jiri-kubicek/">Galerie</a>
    </li>
    <li class="grid_2">
      <a href="/kontakt"  class="<%=request.path_info.match(/^\/kontakt/) ? "active" : "normal"%>">Kontakt</a>
    </li>
	</ul>
	<!-- end .grid_9 -->
	<div class="clear"></div>
</div>

<div class="container_12" id="content">

	<div class="grid_7" id="main">
	  <%= yield%>
	</div>
  <!-- <div class="grid_1">&nbsp;</div> -->
	<div class="grid_4" id="sidebar">
		<a href="http://www.facebook.com/pages/Jiri-Kubicek/128068469233"><img src="/images/facebook.png" alt="Facebook logo"/></a>
		<a href="http://www.twitter.com/kubicek"><img src="/images/twitter.png" alt="Twitter logo" /></a>
		<script type="text/javascript" src="http://static.ak.connect.facebook.com/connect.php/cs_CZ"></script><script type="text/javascript">FB.init("86dc8b1be7f83c674411457a65dea34c");</script><fb:fan profile_id="128068469233" stream="1" connections="10" logobar="0" width="300"></fb:fan><div style="font-size:8px; padding-left:10px"><a href="http://www.facebook.com/pages/Jiri-Kubicek/128068469233">Jiří Kubíček</a> on Facebook</div>
    <!-- <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 4,
      interval: 6000,
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#333333',
          color: '#ffffff'
        },
        tweets: {
          background: '#000000',
          color: '#ffffff',
          links: '#4aed05'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('kubicek').start();
    </script> -->
    <a href="http://www.svobodni.cz"><img src="/images/low-q3.png" alt="svobodni.cz logo"/></a>
	</div>
	<!-- end .grid_8 -->
	<div class="clear"></div>

  <div id="footer">&copy; Jiří Kubíček, 2010</div>

</div>
<!-- end .container_12 -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15656403-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
